.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background-color: #f1f1f1;
    overflow-y: auto;
  }
  
  .menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .menu li {
    padding: 10px;
  }
  
  .menu li a {
    text-decoration: none;
    color: #333;
  }
  
  .menu li a:hover {
    color: #ff0000;
  }
  
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
    overflow-x: auto;
    padding-left: 20vw;
  }
  
  .table {
    width: 80vw;
  }